* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

#headerBox {
	text-align: center;
	color: #8E26C0;
}

h1 {
	font-size: 64px;
}

#firstBox {
	background-color: #FFE8E8;
	width: 565px;
	margin: 32px;
	padding: 24px 40px;
	text-align: center;
	color: #FF0000;
	font-size: 32px;
}

#secondBox {
	width: 1023px;
	margin: 32px;
	border-top: 2px solid #00C76E;
	border-right: 6px solid #0055FF;
	border-bottom: 2px solid #7F56D9;
	border-left: 4px solid #C11574;
	padding: 24px 40px;
	text-align: center;
	font-size: 40px;
	color: #85647B;
}

#thirdBox {
	width: 1023px;
	margin: 44px 0 36px 32px;
	background-color: #FFE8E8;
	text-align: center;
	padding: 24px 40px;
	color: #414651;
	font-size: 32px;
}

#offNum {
	font-size: 40px;
	color: #FF4405;
	border-bottom: 2px solid #FF4405;
}

#fourthBox {
	align-items: center;
	width: 1069px;
	margin: 36px 0 76px 32px;
	padding: 24px 40px;
	border: 2px solid #3538CD;
	text-align: center;
	font-size: 32px;
	color: #0064CE;
}

#fifthBox {
	margin: 76px 0 122px 32px;
}

#salesImage {
	width: 556px;
	height: 347px;
}